<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/about.css">
</head>
<body>
<header  class="header">
    <div class="header_content">
        <a class="title" href="#">我的个人博客 | 技术博客</a>
        <ul class="header_nav">
            <li><a href="./index.html">首页</a></li>
            <li><a href="./blogMap.html">地图</a></li>
            <li><a href="#">关于</a></li>
            <li><a href="commentBook.html">留言</a></li>
        </ul>
        <p class="search_bar"><input type="text" placeholder="请输入关键词查找"> <button>搜索</button></p>
    </div>
</header>
<main class="container_wrapper">
    <div class="container">
        <div class="left">
            <div class="about-me">
               <h2>关于我</h2>
                <hr>
                <p>博主？？？ ，性别？？，？？？人</p>
                <p>
                    <span>天赋异禀</span>
                    <span>骨骼精奇</span>
                    <span>歪门邪道八段</span>
                    <span>掌握各种餐具吃饭技能</span>
                    <span>巴拉巴拉巴拉</span>
                </p>
                <p>
                    <span>我的？？？: <a href="#">http://asdasdasdasdasd</a></span>
                    <span>我的？？？: <a href="#">http://asdasdhjkhjkhjkdasd</a></span>
                </p>
                <h2>关于博客</h2>
                <hr>
                <p>
                    <span>天赋异禀</span>
                    <span>骨骼精奇</span>
                    <span>歪门邪道八段</span>
                    <span>掌握各种餐具吃饭技能</span>
                    <span>巴拉巴拉巴拉</span>
                </p>
                <p>
                    <span>我的？？？: <a href="#">http://asdasdasdasdasd</a></span>
                    <span>我的？？？: <a href="#">http://asdasdhjkhjkhjkdasd</a></span>
                </p>
            </div>
            <div id="about-comment">
                <div class="comments" v-if="commentList" >
                    <h3 class="comments-title">关于：目前有{{ count }}条留言</h3>
                    <dl class="comments-list" v-for = "(item, index) in commentList" :key="index">
                        <dt class="">
                            <img class="comment-author-icon" src="./img/touxiang.jpg" alt="">
                            <p class="comment-title">
                                <strong class="comment-author">{{ item.use }}：</strong> <span v-if="item.parentUse">[回复]    {{ item.parentUse }}</span>
                                <span class="comment-date">发表于 {{item.ctime}}</span>
                                <a href="#write" @click="reply( item.use )">[回复]</a>
                            </p>
                        </dt>
                        <dd class="comment-content">{{ item.content }}</dd>
                    </dl>

                    <ul class="page-btn-wrapper">
                        <li v-for="(item, index) in pageBtn" @click="getPage(item.page)" :class="{'active-page':(page === item.text) }">{{ item.text }}</li>
                    </ul>
                </div>
                <div class="article-detail  write-comments" id="write-about">
                    <h3 class="write-title">发表评论</h3>
                    <p class="write-person" :class="{'use-error': (error === 'useError'), 'use-null': (error === 'useNull') , 'email-error': (error === 'emailError')}">
                        <input type="text" class="" placeholder="昵称" v-model="use">
                        <input type="text" placeholder="邮箱（收到回复会通知的）" v-model="email"></p>
                    <p class="write-detail" :class="{'content-error': (error === 'comError')}"><textarea placeholder="无意义内容我可能不会回复你" v-model="commentContent"></textarea></p><span></span>
                    <p class="verification-code" :class="{'code-err': (error === 'codeError')}"><input type="text" placeholder="验证码" v-model="commentCode">
                        <span v-if="codeObj.data" v-html="codeObj.data"></span>
                    </p>
                    <p class="write-btn">
                        <button @click="addComment">提交留言</button>
                        <button @click="">清空重写</button>
                        <button v-if="replyUse" @click="replyUse = ''">取消回复</button>
                    </p>
                </div>
            </div>

        </div>
        <div class="right">
            <div class="right-boxs" id="right">
                <dl class="random-tags">
                    <dt class="right-titles">随机标签云</dt>
                    <div class="random-content">
                        <dd v-for="(item, index) in tags" :key="index"><a href="index.html" :style="tagStyle()">{{ item.tag }}</a></dd>
                    </div>
                </dl>
            </div>
            <div class="right-boxs">
                <dl class="hots">
                    <dt class="right-titles">最近热门</dt>
                    <div class="hots-content">
                        <dd><a href="#">查看你的AWS服务器已使用流量</a></dd>
                        <dd><a href="#">python+selenium自动登录qq空间并下载</a></dd>
                        <dd><a href="#">vscode+XDebug调试远程环境(虚拟机</a></dd>
                        <dd><a href="#">VirtualBox压缩vmdk、vagrant打包b</a></dd>
                        <dd><a href="#">ubuntu下cmake报错Could NOT fin</a></dd>
                        <dd><a href="#">使用码云git的webhook实现生产环境代</a></dd>
                        <dd><a href="#">填坑解决homestead中serve添加多站点</a></dd>
                    </div>
                </dl>
            </div>
            <div class="right-boxs">
                <dl class="new-comments">
                    <dt class="right-titles">最新评论</dt>
                    <div class="comment-content">
                        <dd class="comment-item">
                            <p class="comment-item-header">
                                <span class="comment-author">许寒</span>
                                <span class="comment-ctime">[1小时前]</span>
                            </p>
                            <p class="comment-item-text">
                                <a href="#">求大佬指导指导，小弟找了很久，都找不</a>
                            </p>
                        </dd>
                        <dd class="comment-item">
                            <p class="comment-item-header">
                                <span class="comment-author">许寒</span>
                                <span class="comment-ctime">[15小时前]</span>
                            </p>
                            <p class="comment-item-text">
                                <a href="#">WordPress重复链接过多怎么处</a>
                            </p>
                        </dd>
                        <dd class="comment-item">
                            <p class="comment-item-header">
                                <span class="comment-author">SKY8G网</span>
                                <span class="comment-ctime">[1周前]</span>
                            </p>
                            <p class="comment-item-text">
                                <a href="#">古来看看，新年快乐</a>
                            </p>
                        </dd>
                        <dd class="comment-item">
                            <p class="comment-item-header">
                                <span class="comment-author">阿杰学长</span>
                                <span class="comment-ctime">[2周前]</span>
                            </p>
                            <p class="comment-item-text">
                                <a href="#">怎么申请友情链接 qidian01</a>
                            </p>
                        </dd>
                    </div>
                </dl>
            </div>
            <div class="right-boxs">
                <dl class="links">
                    <dt class="right-titles">友情链接</dt>
                    &nbsp;
                    <div class="links-content">
                        <dd class="links-item">
                            <p><a href="#">挨踢茶馆</a></p>
                            <p><a href="#">佛布朗斯基</a></p>
                        </dd>
                        <dd class="links-item">
                            <p><a href="#">挨踢茶馆</a></p>
                            <p><a href="#">佛布朗斯基</a></p>
                        </dd>
                        <dd class="links-item">
                            <p><a href="#">挨踢茶馆</a></p>
                            <p><a href="#">佛布朗斯基</a></p>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </div>
</main>
<footer  class="footer">
    <ul class="footer-link">
        <li><a href="#">C/C++</a></li>
        <li><a href="#"> CSS/DIV </a></li>
        <li><a href="#">java </a></li>
        <li><a href="#">javacript</a></li>
        <li><a href="#"> Linux </a></li>
        <li><a href="#">Mac </a></li>
        <li><a href="#">PC技术 </a></li>
        <li><a href="#">PHP</a></li>
        <li><a href="#"> Python </a></li>
        <li><a href="#">C/C++</a></li>
        <li><a href="#"> CSS/DIV </a></li>
        <li><a href="#">java </a></li>
        <li><a href="#">javacript</a></li>
        <li><a href="#"> Linux </a></li>
        <li><a href="#">Mac </a></li>
        <li><a href="#">PC技术 </a></li>
        <li><a href="#">PHP</a></li>
        <li><a href="#"> Python </a></li>
    </ul>
    <p>Copyright © 2010-2017 My个人博客 All rights reserved. 由免费开源的WordPress强力驱动. 鲁ICP备14017955号站长统计</p>
</footer>
<script src="./js/axios.js"></script>
<script src="./js/moment.js"></script>
<script src="https://lib.baomitu.com/vue/2.6.6/vue.js"></script>
<script src="./js/base.js"></script>
<script src="./js/about.js"></script>
</body>
</html>